h1 { color: #d04764; font-family: 'Lobster', cursive; font-size: 36px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
body { background-color: #b0e0e6;}
p {
	color: #2f2f2f;
	font-family: Georgia, serif;
	font-size: 17px;
	line-height: 24px;
	margin: 0 0 24px;
}